{% extends "blog/base.html" %}
{% block title %}блогинг поггинг{% endblock %}
{% block content %}
    <h1>блогинг поггинг</h1>
    {% if tag %}
        <h2>Posts tagged with "{{ tag.name }}"</h2>
    {% endif %}
    {% if posts %}
        {% for post in posts %}
            <h2>
                <a href="{{ post.get_absolute_url }}">
                    {{ post.title }}
                </a>
            </h2>
            {% if post.tags.all %}
                <p class="tags">
                    теги:
                    {% for tag in post.tags.all %}
                        <a href="{% url "blog:post_list_by_tag" tag.slug %}">
                            {{ tag.name }}
                        </a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            {% endif %}
            <p class="date">
                Опубликованно {{ post.publish }}  от {{ post.author }}
            </p>
            {{ post.body|truncatewords:30|linebreaks }}
        {% endfor %}
        {% include "pagination.html" with page=posts %}
    {% else %}
        <p>No posts with this tag.</p>
    {% endif %}
{% endblock %}
