{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>
<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>мой блог.</h2>
        <p>
            я уже написал {% total_posts %} говнопостов.
        </p>
        <h3>последние записи:</h3>
        {% show_latest_posts 3 %}
    </div>
</body>
</html>